body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: margin-left 0.3s, background-color 0.3s;
    background-color: #eae9e9; /* Cor de fundo padrão */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: #fff;
    padding: 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0194FF;
}

.header-controls {
    display: flex;
    align-items: center;
}

button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

button#theme-switcher {
    font-size: 1.2rem;
}

nav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Oculta o menu inicialmente */
    background-color: #111;
    color: #fff;
    transition: left 0.3s;
    z-index: 1000;
    padding-top: 60px;
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li > a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li .dropdown-content {
    max-height: 0; /* Começa com altura 0 */
    opacity: 0; /* Começa com opacidade 0 */
    background-color: #222;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden; /* Oculta o conteúdo fora da altura definida */
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Transição suave */
}

nav ul li .dropdown-content li {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a {
    color: #ddd;
}

nav ul li.active .dropdown-content {
    max-height: 1000px; /* Ajuste conforme necessário para acomodar o conteúdo */
    opacity: 1; /* Torna visível */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 999;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-btn{
    transition: .5s;
}


.dropdown-btn-delete{
    transition: .5s;
}

.dropdown-btn-delete:hover{
    border:1px solid #e01c1c;
    transition: .5s;
    color: #e01c1c;
    

    
}

.dropdown-btn-add{
    transition: .5s;
}

.dropdown-btn-add:hover{
    border:1px solid #17c125;
    transition: .5s;
    color: #17c125;
    

    
}

.dropdown-btn-update{
    transition: .5s;
}

.dropdown-btn-update:hover{
    border:1px solid #1752c1;
    transition: .5s;
    color: #1752c1
}


#close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
}

main {
    padding: 1rem;
    transition: margin-left 0.3s;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme header {
    background-color: #222;
}

.dark-theme nav {
    background-color: #222;
}

.dark-theme #overlay {
    background: rgba(0, 0, 0, 0.7);
}

.dark-theme nav ul li a {
    color: #ddd;
}

nav{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Oculta o menu inicialmente */
    background-color: #111;
    color: #fff;
    transition: left 0.3s;
    z-index: 1000;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaçar o conteúdo e a logo */
}



.logo-container {
    margin-bottom: 20px; /* Distância da logo para o fundo */
    text-align: center;
    
}

.logo-container img {
    display: block;
    margin: 55px auto;
    max-width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast; /* Suaviza a imagem */
    image-rendering: crisp-edges; /* Tenta suavizar as bordas */
    filter:drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3)) ; /* Adiciona uma sombra sutil */
    border-radius: 8px; /* Suaviza as bordas */
    padding: 5px;
}

