@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #968b8b1b;
    transition: background-color 0.3s, color 0.3s;
    
}


html{
    width: auto;
}


::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}

.default-colors {
    background-color: rgba(255, 255, 255, 0.177); /* Cor de fundo padrão */
    color: #000000; /* Cor do texto padrão */
}
.alternate-colors {
    background-color: #353333; /* Cor de fundo alternada */
    color: #ffffff; /* Cor do texto alternada */
    accent-color:#ffffff ;
}

.default-a{
    color: #0000;
}

.alternate-a{
    color: #ffffff;
}

.div-cards-alternate{
    background-color: #19191A;
    color: #ffffff;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.login {
    color: #0000;

}

#radios{
    border-radius: 50%;
}



.div-cards{
    background-color: #fafafa;
    padding-top: 10%;
    padding-bottom: 10%;
    
}



#tecnologia{
    color: #0194FF;
}

#div-tec{
    font-size: 520%;
}

.card{
    
    background-color: #000;
    border-radius: 56px;
    width: 423px;
    height: 578px;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
}



.tre-dot{
    rotate: 90deg;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D4E6F0;
    display: inline;
}

.meio {
    background-color: red;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    position: relative; /* Para o posicionamento absoluto da imagem */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
}

.meio img {
    position: absolute; /* Para ajustar a imagem sem alterar o fluxo do layout */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir o contêiner sem distorção */
    z-index: 1; /* Coloca a imagem atrás dos outros elementos */
}

.texto-materia {
    display: flex;
    justify-content: center;
    background-color: #0194FF;
    width: 100%;
    height: 30%;
    font-size: 22px;
    align-items: center;
    position: relative; /* Para que o z-index funcione */
    z-index: 2; /* Garante que o texto esteja acima da imagem */
}

.text-menor {
   
    top: 3%;
    position: relative; /* Para ajustar a posição em relação ao contêiner */
    display: flex;
    background-color: #D4E6F0;
    box-shadow: -1px 2px 20px 2px #000;
    filter: opacity(90%);
    width: 40%;
    height: 10%;
    margin-left: -50%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
    z-index: 3; /* Garante que este elemento esteja acima da imagem */
}

.btn-more:hover{
    text-decoration: none;
    color: #fffcfc;

}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}
.footer-logo {
    max-height: 50px;
}
.footer-link {
    color: #343a40;
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}

#informations {
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;
    overflow: hidden;
}

@keyframes rotatePlus {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes moveMinus {
    0% { transform: translateX(0); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(0); }
}

@keyframes bounceAtom {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
}

@keyframes spinFormula {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes swingAmphora {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

.plus-sign, .minus-sign, .atom, .formula, .globe, .amphora {
    position: absolute;
    opacity: 0.8;
    pointer-events: none;
}

.plus-sign {
    font-size: 100px;
    color: #3498db;
    top:-80%;
    left: 10%;
    animation: rotatePlus 5s linear infinite;
}

.minus-sign {
    font-size: 50px;
    color: #e74c3c;
    top: -30%;
    left: 20%;
    animation: moveMinus 3s ease-in-out infinite;
}

.atom {
    font-size: 80px;
    color: #f1c40f;
    top: -60%;
    right: 20%;
    animation: bounceAtom 2s ease-in-out infinite;
}

.formula {
    font-size: 50px;
    color: #2ecc71;
    top: 70%;
    right: 10%;
    animation: spinFormula 4s linear infinite;
}

.globe {
    font-size: 120px;
    color: #3498db;
    top:70%;
    left: 10%;
    animation: spinGlobe 6s linear infinite;
}

.amphora {
    font-size: 50px;
    color: #8e44ad;
    top: 10%;
    left: 90%;
    animation: swingAmphora 3s ease-in-out infinite;
}


.cursor {
    display: inline-block;
    width: 2px;
    background-color: #0f6eda;
    margin-left: 2px;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    #informations h1 {
        font-size: 3rem; /* Ajuste o tamanho da fonte em dispositivos menores */
    }

    .btn-more {
        font-size: 0.8rem; /* Ajuste o tamanho do botão */
    }
    .formula {
        font-size: 20px;
        color: #2ecc71;
        top: 70%;
        right: 10%;
        animation: spinFormula 4s linear infinite;
    }

    .plus-sign {
        font-size: 30px;
        color: #3498db;
        top: 10%;
        left: 10%;
        animation: rotatePlus 5s linear infinite;
    }

    .atom {
        font-size: 40px;
        color: #f1c40f;
        top: -20%;
        right: 20%;
        animation: bounceAtom 2s ease-in-out infinite;
    }

    .card{
    
        background-color: #000;
        border-radius: 56px;
        width: 423px;
        height: 578px;
        margin-top:20px ;
    }
}

@media (max-width: 576px) {
    #informations h1 {
        font-size: 2rem; /* Ajuste o tamanho da fonte para telas muito pequenas */
    }

    .card{
        background-color: #000;
        border-radius: 56px;
        width: 323px;
        height: 478px;
        margin-top: 24px;

    }

    .formula {
       display: none;
    }

    .plus-sign {
        font-size: 30px;
        color: #3498db;
        top: 5%;
        left: 10%;
    } 

    .globe {
        font-size: 120px;
        color: #3498db;
        top:80%;
        left: 25%;
        animation: spinGlobe 6s linear infinite;
    }

    .amphora {
        font-size: 50px;
        color: #8e44ad;
        top: 30%;
        left: 90%;
        animation: swingAmphora 3s ease-in-out infinite;
    }

    .circle{
        width: 650px;
        height: 40px;
        border-radius: 50%;
        background-color: #D4E6F0;
        display: inline;
    }
    
}
