* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; /* Aplicando a fonte Lato */
}

body {
    font-family: 'Lato', sans-serif; /* Garantindo a aplicação da fonte ao corpo */
    background-color: hsl(196, 79%, 91%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, p {
    font-weight: 400; /* Títulos e parágrafos com peso padrão */
}

.login-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: 100vh;
}

.logo-header {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 2; /* Garante que a logo fique acima de outros elementos */
}

.logo-header img {
    width: 180px;
    margin-right: 10px;
    opacity: 1; 
    transition: opacity 0.5s ease;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 700; /* Títulos do formulário com maior peso */
    margin-bottom: 10px;
    color: #333; /* Cor profissional para títulos */
}

p {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.signin-btn {
    background-color: #5a56e8;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #555;
    padding: 12px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.google-btn img {
    margin-right: 8px;
}

.signin-btn, .google-btn {
    font-weight: 700; /* Botões com fonte em negrito */
    font-size: 16px;
    cursor: pointer;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-text a {
    color: #5a56e8;
    text-decoration: none;
    font-weight: 700;
}

.video-container {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece o vídeo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.circle-logo {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: inline-block; /* Forçar o texto a ficar na mesma linha */
}

#highlight {
    color: yellow; /* Cor amarela para "SANTOS NEVES" */
    font-family: "Dancing Script", cursive;
}

#login-form{
    opacity: 1;
    transition: opacity 0.5s ease;
}

#cursor {
    display: inline-block;
    font-weight: bold;
    color: #fff; /* Cor do cursor */
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#typewriter {
    color: #fff; /* Cor do texto padrão */
}

#button-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.classes{
    width: 100%;
    background-color: transparent;
    padding: 20px 200px;
    border: 2px solid hsl(196, 79%, 91%) ;
    border-radius: 10px;
    transition: .8s;
}

.classes:hover{
    background-color: #79b4c7;
    transition: .8s;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

#please{
    color: #000;
    font-family: "Fredoka", sans-serif;
}

#welcome-message{
    font-family: "Fredoka", sans-serif;
}

#back-button{
    background-color: #5a56e8;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}


/* Para telas menores que 768px (mobile L) */
@media (max-width: 768px) {
    .video-container {
        display: none; /* Oculta o vídeo */
    }
    
    .login-container {
        flex-direction: column; /* Muda a direção para coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: center;
        padding: 20px; /* Adiciona padding */
        height: auto; /* Ajusta a altura para conteúdo */
        box-shadow: none;
    }

    .logo-header{
        position: relative; /* Altera para relativo */
        margin-bottom: 20px; /* Adiciona margem inferior */
        left: 12%;
    }

    .logo-header img {
        width: 150px; /* Reduz o tamanho do logo em mobile */
    }

    .form-container {
        width: 90%; /* Ajusta a largura do formulário */
        padding: 20px; /* Reduz o padding */
    }

    /* Ajustes nos botões dentro do form-container */
    #button-container .classes {
        padding: 20px 0; /* Remove o padding lateral excessivo */
    }
}

@media (max-width: 425px) {

    .logo-header{
        position: relative; /* Altera para relativo */
        margin-bottom: 20px; /* Adiciona margem inferior */
        display: flex;
        left: 23%;
        justify-content: center; /* Centraliza o logo */
    }

}

@media (max-width: 375px) {
    .logo-header{
        position: relative; /* Altera para relativo */
        margin-bottom: 20px; /* Adiciona margem inferior */
        display: flex;
        left: 25%;
        justify-content: center; /* Centraliza o logo */
    }
    
}

@media (max-width: 320px) {
    .logo-header{
        margin-bottom: 20px; /* Adiciona margem inferior */
        display: flex;
        justify-content: center; /* Centraliza o logo */
    }
    
}

@media (max-width: 1024px) {
    .logo-header{ 
        transform: translate(-51%);
    }

    .logo-header img{
        width: 150px;
    }
    
}

@media (max-width: 1440px) {
    .logo-header{ 
        transform: translate(-47%);
    }

    .logo-header img{
        width: 150px;
    }
    
}



