{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/abount_new.css'%}">
    <title>sobre</title>
</head>

<body>

    
    {% include 'codigos reutilizados/links_reutilizados.html' %}
    {% block links %}
    {% endblock %}

    <section id="s1">
    <div class="titulo"></div>
    <h1>Nossa Historia</h1>
    <div>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
        making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
    </section>
<br>
<section id="ss2">
    <section class="timeline">
    <div class="timeline-item">
        <div class="content-left">
            <h2>1978</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, suscipit arcu eget, viverra ex. Cras eu massa lobortis, luctus turpis sit amet, sagittis turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, suscipit arcu eget, viverra ex.
            </p>
        </div>
        <div class="image-right">
            <!-- Adicione sua imagem aqui -->
        </div>
    </div>

    <div class="timeline-item">
        <div class="content-left">
            <h2>1985</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, suscipit arcu eget, viverra ex. Cras eu massa lobortis, luctus turpis sit amet, sagittis turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, suscipit arcu eget, viverra ex.
            </p>
        </div>
        <div class="image-right">
            <!-- Adicione sua imagem aqui -->
        </div>
    </div>

    <div class="timeline-item">
        <div class="content-left">
            <h2>2010</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, suscipit arcu eget, viverra ex. Cras eu massa lobortis, luctus turpis sit amet, sagittis turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, suscipit arcu eget, viverra ex.
            </p>
        </div>
        <div class="image-right">
            <!-- Adicione sua imagem aqui -->
        </div>
    </div>
    </section>
        <br>

</section>        
<section id="s3">
            <div class="num">
            <h1>Números do ASN</h1>
            <div class="resto">

            <div class="pri">
            <h2>+200 mil</h2>
            <p>aprovados em medicina</p>
        </div>
            <div class="sec">
                <h2>+15mil </h2>
                <p>aprovados em concursos militares</p>
            </div>
            <div class="ter">
                <h2>+3 milhões</h2>
                <p>De alunos mátriculados</p>
            </div>
        </div>
    </div>
</section>
<section id="s4">
    <section class="s5"></section>
    <div class="testimonials-container">
        <h2 class="title">Depoimentos dos pais</h2>
        <div class="testimonials">
            <div class="testimonial">
                <span class="quote">“</span>
                <p class="content">Quando chegamos, fomos acolhidos com respeito e sorriso estampado no rosto. Isso foi fazendo com que nos apaixonássemos pela estrutura do Darwin. Depois de um ano, parecia que já estávamos havia uns dez anos, tamanha a cumplicidade. É uma família.</p>
                <p class="author">ELITON PERINI</p>
                <p class="author-details">Pai de Vitoria e Lucas</p>
            </div>
            <div class="testimonial">
                <span class="quote">“</span>
                <p class="content">Acredito que para uma criança estar bem afetivamente e estar bem dentro da escola, ela precisa saber que ali dentro é tratada com carinho, com atenção. E eu encontrei isso no Darwin. Com menos de uma semana, meu marido e eu tivemos a certeza de ter feito a escolha certa.</p>
                <p class="author">ÂNGELA BARATELLA</p>
                <p class="author-details">Mãe de João e Joaquim</p>
            </div>
        </div>
    </div>
</section>
<section class="sobre-nos">
    <h1>Sobre Nos</h1>
    <div class="container">
        <div class="box" style="width: 450px;">
            <h2>Valores</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at auctor lectus, id sagittis felis. Sed ac.</p>
        </div>
        <div class="box" style="    height: 136%;">
            <h2>Missão</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at auctor lectus, id sagittis felis. Sed ac risus vel neque efficitur scelerisque. Suspendisse ut molestie mi.</p>
        </div>
        <div class="box larger">
            <h2>Objetivo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
    </div>
</section></section>
    <br>
    <section id="s6">
        <section class="professores">
            <h1>Nossos Professores</h1>
            <div class="container">
                <div class="card">
                    <div class="info">
                        <div class="profile-pic"></div>
                        <div class="text">
                            <a href="">
                            <h2>Heitor pasti</h2>
                            <p>pós doutorado em ciências da computação</p>
                        </div>
                    </div>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAP9JREFUWEftlkEKwjAQRV8vILgTTyeCigvBrbjxBm7EjbrxosqAhSxsk0x+oYV0O23m9f/8SRpG9jQj46ECxRypClWFYgrE6so9dAKWwCHWtK+uAroCx1+jB7D1QqmA7sA+gHBDqYCMRQKlBJJAqYEM6gWsvfYNAWRrPr1QQwCZOF1QO+CjiP3FEWODslEwC7415WwkdEKlKtT7V5mwb2DVBTVZIK9ldozMAwUtgRuFZZmu/N3UvVa1DVItywFyJ6yNZ06z2LtFM2gIoKIprQYa1eEqgVEqFF7QbiW3RmXKzsCiBEapUCx9yXWlQslNFae9pFnKIlWhmEpVockp9AXY9C0lASga0QAAAABJRU5ErkJggg=="/>
                </a></div>
                
                <div class="card">
                    <div class="info">
                        <div class="profile-pic"></div>
                        <div class="text">
                            <a href="">
                            <h2>Luan pasti</h2>
                            <p>pós doutorado em sistemas da informação</p>
                        </div>
                    </div>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAP9JREFUWEftlkEKwjAQRV8vILgTTyeCigvBrbjxBm7EjbrxosqAhSxsk0x+oYV0O23m9f/8SRpG9jQj46ECxRypClWFYgrE6so9dAKWwCHWtK+uAroCx1+jB7D1QqmA7sA+gHBDqYCMRQKlBJJAqYEM6gWsvfYNAWRrPr1QQwCZOF1QO+CjiP3FEWODslEwC7415WwkdEKlKtT7V5mwb2DVBTVZIK9ldozMAwUtgRuFZZmu/N3UvVa1DVItywFyJ6yNZ06z2LtFM2gIoKIprQYa1eEqgVEqFF7QbiW3RmXKzsCiBEapUCx9yXWlQslNFae9pFnKIlWhmEpVockp9AXY9C0lASga0QAAAABJRU5ErkJggg=="/>
                </a></div>
    
                <div class="card">
                    <div class="info">
                        <div class="profile-pic"></div>
                        <div class="text">
                            <a href="">
                            <h2>Isamara</h2>
                            <p>mestranda biologia</p>
                        </div>
                    </div>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAP9JREFUWEftlkEKwjAQRV8vILgTTyeCigvBrbjxBm7EjbrxosqAhSxsk0x+oYV0O23m9f/8SRpG9jQj46ECxRypClWFYgrE6so9dAKWwCHWtK+uAroCx1+jB7D1QqmA7sA+gHBDqYCMRQKlBJJAqYEM6gWsvfYNAWRrPr1QQwCZOF1QO+CjiP3FEWODslEwC7415WwkdEKlKtT7V5mwb2DVBTVZIK9ldozMAwUtgRuFZZmu/N3UvVa1DVItywFyJ6yNZ06z2LtFM2gIoKIprQYa1eEqgVEqFF7QbiW3RmXKzsCiBEapUCx9yXWlQslNFae9pFnKIlWhmEpVockp9AXY9C0lASga0QAAAABJRU5ErkJggg=="/>
                </a></div>
                <div class="card">
                    <div class="info">
                        <div class="profile-pic"></div>
                        <div class="text">
                            <a href="">
                            <h2>Wilmeika</h2>
                            <p>mestre em língua Portuguesa - pós doutorado em letras</p>
                        </div>
                    </div>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAP9JREFUWEftlkEKwjAQRV8vILgTTyeCigvBrbjxBm7EjbrxosqAhSxsk0x+oYV0O23m9f/8SRpG9jQj46ECxRypClWFYgrE6so9dAKWwCHWtK+uAroCx1+jB7D1QqmA7sA+gHBDqYCMRQKlBJJAqYEM6gWsvfYNAWRrPr1QQwCZOF1QO+CjiP3FEWODslEwC7415WwkdEKlKtT7V5mwb2DVBTVZIK9ldozMAwUtgRuFZZmu/N3UvVa1DVItywFyJ6yNZ06z2LtFM2gIoKIprQYa1eEqgVEqFF7QbiW3RmXKzsCiBEapUCx9yXWlQslNFae9pFnKIlWhmEpVockp9AXY9C0lASga0QAAAABJRU5ErkJggg=="/>
                </a></div>
            </div>
        </section>
    </section>
    {% include 'codigos reutilizados/footer.html' %}
    {% block footer %}
    {% endblock %}
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>