<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./styler2.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="form-container" >
            <div class="logo-header" id="minha_logo">
                <img src="./logo-asn.png" alt="Logo">
            </div>
            <h2 id="welcome-message">Bem-vindo!!!</h2>
            <p id="please">Por favor, preencha suas credenciais</p>
            <form action="#" id="carai">
                <label for="email" style="color: rgb(154, 156, 158);">Email</label>
                <input type="email" id="email" name="email" placeholder="Email address" >
                
                <label for="password" style="color: rgb(154, 156, 158);" >Senha</label>
                <input type="password" id="password" name="password" placeholder="Password" >
                
                <p id="error-message" style="color: red; display: none;">Por favor, preencha todos os campos corretamente.</p>
                <button type="submit" class="signin-btn" id="confirm-button">Confirmar</button>

            </form>

            <!-- Contêiner para os botões -->
        <div id="button-container" style="display: none;">
            <h1>VOCÊ É UM:</h1>
            <button class="classes">
                <img src="./principal.jpg" alt="" style="border-radius: 50%;" width="50">
                <h5>ADMINISTRADOR</h5></button>
            <button class="classes">
                <img src="./teacher.jpg" alt="" style="border-radius: 50%;" width="50">
                <h5>PROFFESOR</h5></button>
            <button class="classes">
                <img src="./student.jpg" alt="" style="border-radius: 50%;" width="50">
                <h5>ALUNO</h5></button>
            <button class="classes">
                <img src="./tutor.jpg" alt="" style="border-radius: 50%;" width="50">
                <h5>TUTOR</h5></button>
            <button id="back-button">Voltar</button> <!-- Botão para voltar -->
        </div>
        </div>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="./asn vem de frente.MP4" type="video/mp4" id="vidio">
                Your browser does not support the video tag.
            </video>
            <div class="overlay">
                <div class="content">
                    <img src="./logo_espirito_santo.png" alt="" width="190" class="espirit">
                    <p class="typewriter-text">
                        <span id="typewriter"></span><br><span id="highlight"></span><span id="cursor"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="./digit.js"></script>
    <script src="./R_login.js"></script>
</body>
</html>
