{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/styler_login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>
<body data-status="{{user}}">
    {% include 'codigos reutilizados/menssage.html' %}
    {% block menssagem %}
    {% endblock %}
    <div class="login-container">
        <div class="form-container" >
            <div class="logo-header" id="minha_logo">
                <img src="../../../media/img_fixas/logo-asn.png" alt="Logo">
            </div>
            <h2 id="welcome-message">Bem-vindo!!!</h2>
            <p id="please">Por favor, preencha suas credenciais</p>
            <form action="{% url 'login'%}"  method="post">
                {% csrf_token %}
                <div id="carai">
                    <label for="nome" style="color: rgb(154, 156, 158);">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome" value="{{nome}}">
                
                <label for="password" style="color: rgb(154, 156, 158);" >Senha</label>
                <input type="password" id="password" name="password" placeholder="Password" value="{{password}}">
                <img id="olho" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII="
/>
                
                <p id="error-message" style="color: red; display: none;">Por favor, preencha todos os campos corretamente.</p>
                <button type="submit" class="signin-btn" id="confirm-button">Confirmar</button>
                </div>
                <input type="checkbox" name="ADMIN" id="ADMIN" style="visibility: hidden;">
                <input type="checkbox" name="Admin" id="admin" style="visibility: hidden;">

                <div id="button-container" style="display: none;">
                    <h1>VOCÊ É UM:</h1>
                    <button class="classes" type="submit" onclick="marcar_chackbox('ADMIN')">
                        <img src="../../../media/img_fixas/principal.jpg" alt="" style="border-radius: 50%;" width="50">
                        <h5>DIRETOR</h5></button>
                        <button class="classes"  type="submit" onclick="marcar_chackbox('Admin')">
                            <img src="../../../media/img_fixas/principal.jpg" alt="" style="border-radius: 50%;" width="50">
                            <h5>GESTOR</h5></button>
                            <button class="classes">
                                <img src="../../../media/img_fixas/teacher.jpg" alt="" style="border-radius: 50%;" width="50">
                                <h5>PROFFESOR</h5></button>
                            <button class="classes">
                                <img src="../../../media/img_fixas/student.jpg" alt="" style="border-radius: 50%;" width="50">
                                <h5>ALUNO</h5></button>
                            <button class="classes">
                                <img src="../../../media/img_fixas/tutor.jpg" alt="" style="border-radius: 50%;" width="50">
                                <h5>TUTOR</h5></button>
                        
                    <button id="back-button" style="visibility: hidden;">Voltar</button> <!-- Botão para voltar -->
                </div>

            </form>

            <!-- Contêiner para os botões -->
       
        </div>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="../../../media/img_fixas/asn vem de frente.MP4" type="video/mp4" id="vidio">
                Your browser does not support the video tag.
            </video>
            <div class="overlay">
                <div class="content">
                    <img src="../../../media/img_fixas/logo_espirito_santo.png" alt="" width="190" class="espirit">
                    <p class="typewriter-text">
                        <span id="typewriter"></span><br><span id="highlight"></span><span id="cursor"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/digit.js' %}"></script>
    <script src="{% static 'js/R_login.js'%}"></script>
    <script>

        console.log(document.querySelector('body').dataset.status)
        function marcar_chackbox(x){
            let ip = document.querySelector(`input[name=${x}]`).checked = true
            {% comment %} console.log(ip) {% endcomment %}
        }

        var senha = $('#password');
var olho= $("#olho");

olho.mousedown(function() {
  senha.attr("type", "text");
});

olho.mouseup(function() {
  senha.attr("type", "password");
});
// para evitar o problema de arrastar a imagem e a senha continuar exposta, 
//citada pelo nosso amigo nos comentários
$( "#olho" ).mouseout(function() { 
  $("#password").attr("type", "password");
});
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</body>
</html>

