         
         @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      
         
         *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
         }

        body{
            height: 100vh;
            overflow-x: hidden;
         }

         html{
            overflow-x: hidden;
         }
         
         h1{
            color: #fafafa;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
         }

         footer{
            background-color:#0C0CE9 ;
            z-index: 2;
         }

         h5{
            color: #9F9ED4;
         }
         
         a{
            text-decoration: none;
            color: #F5F5F5;
         }

         a:hover{
            color: #9F9ED4;
            text-decoration: none;
         }

         #header{
            background-color: #0C0CE9;
            border-bottom: 4px solid #FFC837;
        }

        #rodape{
            border-top: 4px solid #FFC837;
            padding: 1% ;
        }

        .card-title{
            color: #000;
        }

         #alerts{
            color: #000;
            background-color: #dadbd9;
            border-radius: 10px;
         }

         #div-alerts{
            padding: 5%;
            background: linear-gradient(270deg, #ff6b6b, #f0de16, #e5e9e1, #50e3c2, #4a90e2, #9013fe, #d0021b);
            background-size: 1400% 1400%;
            animation: gradientAnimation 30s ease infinite;
         }

         @keyframes gradientAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

         #mancha-1{
            position:absolute;
            left: -7%;
            top:115%;
         }

         .carousel-inner img {
            height: 600px; /* Ajuste este valor conforme necessário */
            border-bottom: 5px solid #f0de16;
        }

         #mancha-2{
            position: absolute;
            right: -7%;
            top: 153%;
            z-index: 0;
         }
         
         .btn-grad {
            background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

                   
         .btn-grad-2 {
            background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

         
         

          ::-webkit-scrollbar{
            display: none;
          }

        @media only screen and (max-width: 768px) {

            h1{
                font-size: 24px;
            }

            a{
                font-size: 12px;
            }

            html, body {
               overflow-x: hidden; /* Impede a rolagem horizontal */
               height: auto;
           }

            footer h5{
                font-size: 12px;
            }

            .carousel-inner img {
               height: 350px; /* Ajuste este valor conforme necessário */
               border-bottom: 5px solid #f0de16;
               
               
           }

          
            #logo{
                width: 70px;
            }

            #mancha-1{
                visibility: hidden;
            }

            #mancha-2{
                visibility: hidden;
            }
          }
         