<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li class="menssagens">{{message}}</li>
              {% endfor %}
          </ul>
    {% endif %}
    <form action="{% url 'definir_carrossel' %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
       <input type="file" name="img1" id="img1" required>
       <input type="file" name="img2" id="img2" required>
       <input type="file" name="img3" id="img3" required>
        <input type="submit" value="submit">
    </form>
</body>
</html>