<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li class="menssagens">{{message}}</li>
              {% endfor %}
          </ul>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="submit">
    </form>
    <p>{{nome}}</p>
    <p>{{senha}}</p>
</body>
</html>