<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  {% include 'codigos reutilizados/menssage.html' %}
  {% block menssagem %}
  {% endblock %}
  {% for i in professor%}
    <h1>{{i.nome}}</h1>
  {% endfor %}
    
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID ALUNO</th>
            <th scope="col">PERFIL</th>
            <th scope="col">NOME</th>
            <th scope="col">SÉRIE</th>
          </tr>
        </thead>
        <tbody>
          {% for i in alunos%}
          <tr>
            <th scope="row">{{i.id}}</th>
            <th><img src="../../../media/{{i.imagem}}" alt=""></th>
            <td>{{i.nome}}</td>
            <td>{{i.serie}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      
</body>
</html>