<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deletar anuncio</title>
</head>
<body>
    <h1> tem certeza que quer deletar o Anuncios?</h1>
    <form action="{{deletar_anuncio}}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label for="sim">Deletar</label>
        <input type="checkbox" name="sim" id="sim" onclick="vai(this)">
        <label for="nao">Não Deletar</label>
        <input type="checkbox" name="nao" id="nao" onclick="vai(this)">
    <button type="submit"> submit</button>
    </form>
    <script>
        function vai(x){
            if(x.name == 'sim'){
                document.querySelector('input[name="nao"]').checked = false
            } else {
                document.querySelector('input[name="sim"]').checked = false
            }
        }
    </script>
</body>
</html>