<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'codigos reutilizados/menssage.html' %}
    {% block menssagem %}
    {% endblock %}
    <form action="{{ update_com_id }}" method="post" enctype="multipart/form-data" > {% csrf_token %}
        {% if user == 'eletiva' %}
            <input type="text" name="titulo" id="titulo" value="{{tabela.titulo}}" required>
        {% else %}
            <input type="text" name="nome" id="nome" value="{{tabela.nome}}" required>
            <input type="email" name="email" id="email" value="{{tabela.email}}" required>
            <input type="password" name="senha" id="senha" value="{{tabela.senha}}" required>
        {% endif %}
        
        <div>
            <img src="../../../media/{{tabela.imagem}}" alt="foto-perfil-user">
            <input type="file" name="imagem" id="imagem">
            <label for="pergunta">Deixar sem imagem</label>
            <input type="checkbox" name="pergunta_imagem" id="">
        </div>
        {% if user == 'aluno' or user == 'professor' %}
            {% include 'update/update_professor.html' %}
            {% block eletiva %}
            {% endblock %}
            {% if user == 'aluno' %}
                {% include 'update/update_aluno.html' %}
                {% block serie %}
                {% endblock %}
            {% endif %}
        {% elif user == 'admin' %}
            {% include 'update/update_admin.html' %}
            {% block acoes_do_admin %}
            {% endblock %}
        {% elif user == 'tutor' or user == 'eletiva'%}
            {% include 'update/update_tutor.html' %}
            {% block descricao %}
            {% endblock %}
            {% if user == 'eletiva' %}
                {% include 'update/update_eletiva.html' %}
                {% block eletiva_da_eletiva %}
                {% endblock %}
            {% endif %}
        {% endif %}
        
        <input type="submit" value="submit">
    </form>
</body>
</html>