{% block tabela_aluno_professor %}
{% load static %}
<div id="table-py">
    <div id="form-div " class="d-flex flex-column justify-content-center align-items-center mb-4">

        <div id="div-alert-tables" class=" rounded d-flex align-items-center flex-column p-3 m-3 shadow-lg" style="background-color: rgba(105, 105, 105, 0.39);">
            <img src="../../../media/img_fixas/logo-asn.png" alt="" width="180">
            <h1 class="text-white">ATENÇÃO!!!</h1>
            <p  class="text-white">Nesta área você poderá atualizar eletivas que atualmente estão ativas, <br> 
            Selecione a eletiva que deseja atualizar </p>

        </div>

        <label for="ordem">Procurar por:</label>
        <input type="text" id="ordem" name="ordem" onkeyup="pesquisar(this)">
        <label for="coluna"> na coluna</label>
        <select name="coluna" id="coluna">
            <option value="id" selected>id</option>
            <option value="nome">nome</option>
            <option value="email">email</option>
            {% if tabela_user_passado_como_parametro == 'professor' or tabela_user_passado_como_parametro == 'aluno' %}
            <option value="eletiva">eletiva</option>
            {% if tabela_user_passado_como_parametro == 'aluno' %}
                <option value="serie">série</option>
            {% endif %}
            {% endif %}
        </select>
        {%if modo == "deletar" %}
            <h3>Selecionados: <span id="numero_selecionados">0</span></h3>
            <button onclick="ir_para_o_site()">Submit</button>
        {% endif %}
    </div>
    <table id="tabela" class="table table-hover" data-user="{{tabela_user_passado_como_parametro}}" data-id_do_user_logado="None">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Perfil</th>
            {% if tabela_user_passado_como_parametro == 'professor' or tabela_user_passado_como_parametro == 'aluno' %}
                <th scope="col">Eletiva</th>
            {% endif %}
            <th scope="col">Email</th>
            {% if tabela_user_passado_como_parametro == 'aluno' %}
                <th scope="col">Série</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for i in usuarios %}
                <tr id="{{i.id}}" onclick="adicionar_linha(this)">
                    <th scope="row" class="id" data-id="{{i.id}}">{{i.id}}</th>
                    <td class="nome" data-id="{{i.id}}">{{i.nome}}</td>
                    <td class="imagem" data-id="{{i.id}}"><img src="../../../media/{{i.imagem}}" alt="" width="50"></td>
                    {% if tabela_user_passado_como_parametro == 'professor' or tabela_user_passado_como_parametro == 'aluno' %}
                        <td class="eletiva" data-id="{{i.id}}">{{i.eletiva}}</td>
                    {% endif %}
                    <td class="email" data-id="{{i.id}}">{{i.email}}</td>
                    {% if tabela_user_passado_como_parametro == 'aluno'%}
                        <td class="serie" data-id="{{i.id}}">{{i.serie}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static 'js/R_tables.js' %}"></script>


{% endblock %}