{% block serie %}
<label for="serie">Serie</label>
    <select name="serie" id="serie" required>
        <option value="{{tabela.serie}}" selected>{{tabela.serie}}</option>
        <option value="8ºano">8ºano</option>
        <option value="7ºano">7ºano</option>
        <option value="6ºano">6ºano</option>
        <option value="5ºano">5ºano</option>
        <option value="4ºano">4ºano</option>
        <option value="3ºano M">3ºano M</option>
        <option value="2ºano M">2ºano M</option>
        <option value="1ºano M">1ºano M</option>
    </select>
{% endblock %}