<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/eletivas.css'%}">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% include 'codigos reutilizados/links_reutilizados.html' %}
    {% block links %}
    {% endblock %}
      <h1 class="text-black text-center m-3 rounded-3" id="eletivas-title">ELETIVAS</h1>
    

    <div class="container" id="eletivas">
            {% for i in eletivas %}
        <div class="row p-4" id="cards-eletivas" data-materia="{{i.titulo}}" data-id="{{i.id}}" onclick="vai(this)" onmouseenter="entrou(this)" onmouseleave="saiu(this)">
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 18rem; border-radius: 10px;">
                  {% if user == "ADMIN" or atualizar == True%}
                  <div id="{{i.id}}" class="divAcao">
                    <a href="/update_eletiva/{{i.id}}" id="link-atualizar">Atualizar</a>
                  </div>
                  {% endif %}
                    <img src="../../media/{{i.imagem}}" alt="" width="286" height="180" style="border-radius: 10px;">
                    <!--<svg width="286" height="180" style="border-radius: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 286 180" preserveAspectRatio="none"><defs><style type="text/css">#holder_1903029d646 text { fill:rgba(255,255,255,.75);font-weight:normal;font-family:Helvetica, monospace;font-size:14pt } </style></defs><g id="holder_1903029d646"><rect width="286" height="180" fill="#777"></rect><g><text x="107.1953125" y="96.3">286x180</text></g></g></svg>-->
                    <div class="card-body text-center">
                        <h5 class="card-title">{{i.titulo}}</h5>
                        <p class="card-text">{{i.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="importante d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div>
            <h2><strong>Por que a escolha do seu tutor é tão <br> importante?</strong></h2>
            <p class="text-importante"> <br> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec justo rhoncus, <br>
                suscipit arcu eget, viverra ex. Cras eu massa lobortis, luctus turpis sit amet, sagittis turpis. Sed cursus tempor nisi, et accumsan tortor placerat vitae. Duis erat ante, rhoncus sit amet aliquam eget, malesuada id neque. Maecenas vestibulum lacus non pretium posuere. Proin et tempor lorem, et luctus urna. Donec dui orci, aliquam ac elementum sit amet, eleifend vel diam. Ut porttitor massa quis ultrices faucibus. Sed et justo eu felis tincidunt convallis sit amet eu metus. Maecenas a finibus dui, et posuere magna. Nam condimentum metus eu lectus ultricies varius sed eu massa.</p>
        </div>
        <img src="../../media/moca.png" class="girl d-none d-md-block" alt="" width="500px">
    </div>

</div> 

{% include 'codigos reutilizados/footer.html' %}
{% block footer %}
{% endblock %}
          

    <script>
        // Detecta o início do toque
        let startX = 0;
        let startY = 0;

        document.addEventListener('touchstart', function(event) {
            startX = event.touches[0].pageX;
            startY = event.touches[0].pageY;
        });

        document.addEventListener('touchmove', function(event) {
            const moveX = event.touches[0].pageX;
            const moveY = event.touches[0].pageY;

            const diffX = Math.abs(moveX - startX);
            const diffY = Math.abs(moveY - startY);

            // Se o movimento horizontal for maior que o vertical, previne o comportamento padrão
            if (diffX > diffY) {
                event.preventDefault();
            }
        }, { passive: false });
        </script>
        <script>
            function vai(x){
                window.location.href = `/eletiva/${x.dataset.materia}`
            }
        </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{% static 'js/mouse_funcoes.js' %}"></script>
</body>
</html>
