{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styler_2.css'%}">
    <link rel="stylesheet" href="{% static 'css/links_reutilizados.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% include 'codigos reutilizados/links_reutilizados.html' %}
    {% block links %}{% endblock %}
    {% include 'codigos reutilizados/menssage.html' %}
    {% block menssagem %}{% endblock %}
    
    <div class="casdds">
        {% for i in eletivas %}
            <div class="card-1" data-materia="{{i.titulo}}" data-id="{{i.id}}" onmouseenter="entrou(this)" onmouseleave="saiu(this)">
                <div class="top-section" style="background-image: url('../../../media/{{i.imagem}}');">
                    <img src="../../../media/{{i.img_professores_eletiva}}" alt="Wilmeika and Juliano">
                </div>
                {% load pesquisa_de_professores %}
                <div class="align">
                    <h2>{{todos_professores|pesquisar_professor:i.titulo}}</h2>
                    <p>{{i.descricao}}</p>
                </div>
                <button onclick="vai(this)" data-link="{{i.link}}">Escolher</button>
            </div>
        {% endfor %}
    </div>
    
    <section class="part">
        <a href="#" class="text-decoration-none botao-ver-mais">Ver Mais</a>
    </section>

    <section>
        <div class="ini">
            <h2>veja</h2>
            <h1 class="title-ele">MAIS SOBRE AS ELETIVAS</h1>
            <div class="eleti">
                <div class="div1">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/Sem título.png" alt="">
                    <div class="text"><h1>musica</h1><p>Lorem Ipsum...</p></div>
                </div>
                <div class="div2">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/Sem título.png" alt="">
                    <div class="text"><h1>musica</h1><p>Lorem Ipsum...</p></div>
                </div>
                <div class="div3">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/literatura.png" alt="">
                    <div class="text"><h1>literatura</h1><p>Lorem Ipsum...</p></div>
                </div>
                <div class="div4">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/literatura.png" alt="">
                    <div class="text"><h1>literatura</h1><p>Lorem Ipsum...</p></div>
                </div>
            </div>
        </div>
    </section>

    <div id="carouselExampleControls" class="carousel slide w-75 p-3 d-flex justify-content-center" data-ride="carousel">
        <div class="carousel-inner rounded">
          <div class="carousel-item active " >
            <img class="d-block w-100" src="../../../media/img_fixas/literatura.png" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../media/img_fixas/literatura.png" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../media/img_fixas/literatura.png" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>

    {% include 'codigos reutilizados/footer.html' %}
    {% block footer %}
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script>
        function vai(x){
            window.location.href = `${x.dataset.link}`
        }
    </script>

    <script src="{% static 'js/mouse_funcoes.js' %}"></script>
    <script src="{% static 'js/links_reutilizados.js' %}"></script>
</body>
</html>
