@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100vh;
    overflow-x: hidden;

}

::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: #0C0CE9;
    border-bottom: 4px solid #FFC837;
    display: flex;
    justify-content: center;
   


}

#navbarNav{
    text-align: center;
}

#ele{
    color: #fafafa;
}

#tutoria{
    color: #efb82b;
    text-decoration: underline;
}

#eletivas-title{
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: gray;
}

.logo-navbar{
    display: none;
}

#div_tutor{
    background-color: #f8c136;
    color:#000;
    display: flex;
    align-items: center;


}

#div_text{
    display: flex;
    flex-direction: column;
}

h1{
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
 }



 #user{
    background-color: gray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }

 
#btn-more{
    background-color: #0094FF;
    padding: 1%;
    border-radius: 10px;
}

 #eletivas{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
    padding-left: 10%;
    
}

#cards-eletivas{
    display: flex;
    gap: 50px;
}

.card-body{
    background-color: #f8c136;
    border-radius: 10px;
}

.card{
    border-radius: 10px;
}

.girl{
    position:relative;
    top: 18%;
    right: 0;
    transition: ease;
    transition-duration: 0.5s;
    z-index: 9;
}


p{
    display: inline;
    color: #F5F5F5;
}

.importante{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 3%;
    margin: 3%;
    margin-bottom: 5%;
}

h5{
    color: #9F9ED4;
 }

 #rodape{
    border-top: 4px solid #FFC837;
    background-color: #0C0CE9;
    padding: 1% ;
    z-index: 10;
}

.links{
    text-decoration: none;
    color: #F5F5F5;
}

.links:hover{
    color: #9F9ED4;
    text-decoration: none;
}

.card-title{
    color: #000;
}



@media only screen and (max-width: 768px) {

    .girl{
        visibility: hidden;
    }

    .text-importante{
        font-size: 12px;
        margin: 3%;
    }

    body, html{
        height: 100vh;
        overflow-x: hidden;
    }

}