<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'codigos reutilizados/menssage.html' %}
    {% block menssagem %}
    {% endblock %}
    <form action="{{deletar_com_ids}}" method="post">{% csrf_token %}
        <h4>Tem certeza que queres deletar o(s) <span id="ids_a_serem_deletados">{{tam_lista_id}}</span> usuáro(s)?</h4>
        <label for="sim">Sim</label>
        <input type="checkbox" name="sim" id="sim" onclick="vai(this)">
        <label for="nao">Não</label>
        <input type="checkbox" name="nao" id="nao" onclick="vai(this)">
        <input type="submit" value="Submit">
    </form>
    <script>
        function vai(x){
            if(x.id == "sim"){
                document.querySelector('input[name="nao"]').checked = false
            } else {
                document.querySelector('input[name="sim"]').checked = false
            }
        }
    </script>
</body>
</html>