{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/add_users.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1>Adicionar Admin</h1>
            <form action="{% url 'add-admin' %}" method="post" enctype="multipart/form-data" onsubmit="return ValidarForm()">{% csrf_token %}
                <input type="text" name="nome" id="nome" placeholder="nome">
                <label for="imagem">Imagem de Perfil:</label><br>
                <input type="file" name="imagem" id="imagem">
                <input type="password" name="senha" id="senha" placeholder="senha">
                <input type="email" name="email" id="email" placeholder="email">
                <div id="div_acoes">
                    <h4>Ações:</h4>
                    <input type="checkbox" name="deletar" id="deletar">
                    <label for="deletar">Deletar</label><br>
                    <input type="checkbox" name="atualizar" id="atualizar">
                    <label for="atualizar">Update</label><br>
                    <input type="checkbox" name="cadastrar" id="cadastrar">
                    <label for="cadastrar"  >Cadastrar</label>

                   
                </div>
                <input type="submit" style="margin-top:2%;" value="Submit">
            </form>
        </div>
        <div class="background">
            <div class="background-content">
                <img src="../../../media/img_fixas/logo-asn.png" width="340px" alt="">
                <h2>ASN a escola com total foco no:</h2>
                <p class="eletiva"><strong>APRENDIZAGEM</strong></p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/validation_form.js' %}"></script>
</body>
</html>