<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add anuncio</title>
</head>
<body>
    <h1> tem certeza que quer Adicionar Anuncios?</h1>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <button type="submit"> sim, adicionar anuncio</button>

    <a href="{% url 'index' %}">cancelar</a>
    <div>
        <label for="titulo">Título</label>
        <input type="text" name="titulo" id="titulo" value="{{titulo}}">
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" cols="20" rows="20">{{descricao}}</textarea>
        <div>
            <img src="../../../media/{{imagem}}" alt="" srcset="">
            <input type="file" name="imagem" id="imagem">
        </div>
        <input type="url" name="link" id="link" value="{{link}}">
    </div>
    
    </form>
</body>
</html>