
{% block footer %}
<footer class="" id="rodape">
    <div class="d-flex justify-content-around">
        <img src="../../media/logo-asn.png" class="d-inline" alt="" width="80px">
        <div class="d-flex flex-column">
            <h5>Empresarial</h5>
                <a class="links" href="#">Link1</a>
                <a class="links" href="#">Link2</a>
        </div>

        <div class="d-flex flex-column">
            <h5>Informações</h5>
                <a class="links" href="#"> ©asnsedu</a>
                <a class="links" href="#">Letrus</a>
        </div>
    

        <div>
            <h5>Mídias</h5>
                <a class="links" href="#">@asn_sedu</a>
                
        </div>
</div>

</footer>  
{% endblock %}