{% block links %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/cab.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <header>
        <div class="logo">ASN</div>
        <div class="header-controls">
            <button id="menu-btn">☰ Menu</button>
            <button id="theme-switcher">🔆</button>
        </div>
    </header>
    <div id="effect"></div>

    <nav id="side-nav">
        <button id="close-btn">&times;</button>
        <ul>
            {% if user != None%}
            <li><a href="{% url 'logout' %}">Logout</a></li>
                {% if user == 'ADMIN'  or 'deletar' in lista_de_acoes%}
                <li class="menu-item">
                    <a href="#" class="dropdown-btn-delete dropdown-btn" data-target="home-dropdown">Deletar</a>
                    <ul class="dropdown-content" id="home-dropdown">
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user='professor'%}">Deletar Professor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user='tutor'%}">Deletar Tutor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user='eletiva'%}">Deletar Eletiva</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user='admin'%}">Deletar Admin</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user == 'ADMIN'  or  'cadastrar' in lista_de_acoes%}
                    <li class="menu-item">
                        <a href="" class="dropdown-btn-add dropdown-btn" data-target="services-dropdown">Adicionar</a>
                        <ul class="dropdown-content" id="services-dropdown">
                            <li><a href="{% url 'add' tipo_de_user='professor'%}">Adcionar Professor</a></li>
                            <li><a href="{% url 'add' tipo_de_user='tutor'%}">Adcionar Tutor</a></li>
                            <li><a href="{% url 'add' tipo_de_user='professor-tutor'%}">Adcionar Professor/Tutor</a></li>
                            <li><a href="{% url 'add-admin'%}">Adcionar Admin</a></li>
                            <li><a href="{% url 'add-eletiva' %}">Adcionar Eletiva</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user == 'ADMIN'  or  'atualizar' in lista_de_acoes%}
                <li class="menu-item">
                    <a href="#" class="dropdown-btn-update dropdown-btn" data-target="contact-dropdown">Atualizar</a>
                    <ul class="dropdown-content" id="contact-dropdown">
                        <li><a href="{% url 'update_or_delete' u_or_d='update' user='professor'%}">Atualizar  Professor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='update' user='tutor'%}">Atualizar  Tutor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='update' user='admin'%}">Atualizar  Admin</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='update' user='eletiva'%}">Atualizar  Eletiva</a></li>
                    </ul>
                </li>
                {% endif %}
            {% endif %}
            <li><a href="{% url 'eletivas' %}">Eletiva</a></li>
            <li><a href="{% url 'tutoria' %}">Tutores</a></li>
            <li><a href="{% url 'sobre'%}" id="sobre">Sobre</a></li>
        </ul>

        <div class="logo-container">
            <a href="{% url 'index'%}"><img src="../../../media/img_fixas/logo-asn.png" alt="Logo ASN" ></a>
        </div>
    </nav>

    <div id="overlay"></div>

    <script src="{% static 'js/cab.js' %}"></script>
    <script src="{% static 'js/transition.js' %}"></script>
    {% endblock %}

