{% block links %}
{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/links_reutilizados.css'%}"> {% endcomment %}
<header class="navbar navbar-expand-lg  p-3 d-flex justify-content-around default-colors" id="header">

    <style>
        .logo-asn{
            color: #0194FF;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        }
        #header{
            background-color: white;
        }
        </style>

    <h1 class="logo-asn">ASN</h1>
    <nav id="">
        {% if user != None%}
            {% if user == 'ADMIN'  or 'deletar' in lista_de_acoes%}
                <div class="btn-group">
                    <button type="button" id="Deletar" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Deletar
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'deletar' user='aluno'%}">Deletar Aluno</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'deletar' user='professor'%}">Deletar Professor</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'deletar' user='admin'%}">Deletar Admin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'deletar' user='eletiva'%}">Deletar Eletiva</a>
                    </div>
                </div>
            {% endif %}
            {% if user == 'ADMIN'  or  'cadastrar' in lista_de_acoes%}
            <div class="btn-group">
                <button type="button" id="Cadastrar" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastrar
                </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'add-aluno'%}">Adicionar Aluno</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'add-professor'%}">Adicionar Professor</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'add-admin'%}">Adicionar Admin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'add-eletiva'%}">Adicionar Eletiva</a>
                    </div>
            </div>
            {% endif %}
            <a class="mx-2 text-white btn btn-danger" href="{% url 'logout'%}">Sair</a>
        {% else %}
            <a class="mx-2 text-white btn btn-danger" href="{% url 'login'%}">Entrar</a>
        {% endif %}
        <a class="mx-2 text-dark" id="link-sobre" href="{% url 'sobre'%}">Sobre</a>
        <a class="mx-2 text-dark" id="link-sobre" href="{% url 'eletivas'%}">Eletiva</a>
        <a class="mx-2 text-dark" id="link-sobre" href="{% url 'tutoria'%}">Tutoria</a>
        
</nav>

<div style="text-align: center; margin-top: 20px;">
    <label class="switch">
        <input type="checkbox" id="colorToggleSwitch">
        <span class="slider"></span>
    </label>
</div>
</header>
<script src="{% static 'js/links_reutilizados.js' %}"></script>
{% endblock %}

