{% block links %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/cab.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <header>
        <div class="logo">ASN</div>
        <div class="header-controls">
            <button id="menu-btn">☰ Menu</button>
            <button id="theme-switcher">🔆</button>
        </div>
    </header>
    <div id="effect"></div>

    <nav id="side-nav" data-user="{{user}}" data-versao="1">
        <button id="close-btn">&times;</button>
        <ul>
            <li><a href="{% url 'eletivas' %}" id="eletivaLink">Eletiva</a></li>
            <li><a href="{% url 'tutoria' %}" id="tutorLink">Tutores</a></li>
            <li><a href="{% url 'sobre'%}" id="sobre">Sobre</a></li>
            {% if user != None%}
                {% if user == 'ADMIN'  or 'deletar' in lista_de_acoes%}
                <li class="menu-item">
                    <a href="#" class="dropdown-btn-delete dropdown-btn" data-target="home-dropdown">Deletar</a>
                    <ul class="dropdown-content" id="home-dropdown">
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user_a_ser_atualizado_arg='professor'%}">Deletar Professor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user_a_ser_atualizado_arg='tutor'%}">Deletar Tutor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user_a_ser_atualizado_arg='eletiva'%}">Deletar Eletiva</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='deletar' user_a_ser_atualizado_arg='admin'%}">Deletar Admin</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user == 'ADMIN'  or  'cadastrar' in lista_de_acoes%}
                    <li class="menu-item">
                        <a href="" class="dropdown-btn-add dropdown-btn" data-target="services-dropdown">Adicionar</a>
                        <ul class="dropdown-content" id="services-dropdown">
                            <li><a href="{% url 'add' tipo_de_user='professor'%}">Adicionar Professor</a></li>
                            <li><a href="{% url 'add' tipo_de_user='tutor'%}">Adicionar Tutor</a></li>
                            <li><a href="{% url 'add' tipo_de_user='professor-tutor'%}">Adicionar Professor/Tutor</a></li>
                            <li><a href="{% url 'add-admin'%}">Adicionar Admin</a></li>
                            <li><a href="{% url 'add-eletiva' %}">Adicionar Eletiva</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user == 'ADMIN'  or  'atualizar' in lista_de_acoes%}
                <li class="menu-item">
                    <a href="#" class="dropdown-btn-update dropdown-btn" data-target="contact-dropdown">Atualizar</a>
                    <ul class="dropdown-content" id="contact-dropdown">
                        <li><a href="{% url 'update_or_delete' u_or_d='atualizar' user_a_ser_atualizado_arg='professor'%}">Atualizar  Professor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='atualizar' user_a_ser_atualizado_arg='tutor'%}">Atualizar  Tutor</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='atualizar' user_a_ser_atualizado_arg='admin'%}">Atualizar  Admin</a></li>
                        <li><a href="{% url 'update_or_delete' u_or_d='atualizar' user_a_ser_atualizado_arg='eletiva'%}">Atualizar  Eletiva</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user == 'ADMIN' %}
                    <li><a href="{% url 'definir-paginas' %}">Definir Paginas</a></li>
                {% endif %}
                <li><button class="btn-sair" onclick="deslogar()"><strong> SAIR</strong></button></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="btn-entrar" onclick="definir_pagina_antiga()"> ENTRAR</a></li>
            {% endif %}
            
        </ul>

        <div class="logo-container">
            <a href="{% url 'index'%}" id="logoLink"><img src="../../../media/img_fixas/logo-asn.png" alt="Logo ASN" ></a>
        </div>
    </nav>
    <!-- Form  que salva onde o usuário estava -->
    <form action="{% url 'logout' %}" method="post" id="form_link" style="visibility:hidden;">{% csrf_token %}
        <input type="text" id="link_antigo" name="link_antigo">
        <input type="submit" id="submit" value="submit">
    </form>
    <div id="overlay"></div>

    <script src="{% static 'js/cab.js' %}"></script>
    <script src="{% static 'js/transition.js' %}"></script>
    <script>
        function deslogar(){
            document.querySelector("#link_antigo").value = String(window.location.href).replace(`${window.location.protocol}//${window.location.host}`,"");
            console.log(String(window.location.href).replace(`${window.location.protocol}//${window.location.host}`,""))
            document.querySelector("#submit").click()
        }
        function definir_pagina_antiga(){
            let link = String(window.location.href)
            sessionStorage.setItem('link',link.replace(`${window.location.protocol}//${window.location.host}`,""))
        
        }
        window.onload = () =>{
            sessionStorage.setItem('user',`${document.querySelector("#side-nav").dataset.user}`)
            
            // let link_antigo = sessionStorage.getItem('deslogado')
            // if(link_antigo != window.location.href && link_antigo != null && link_antigo != "null"){
            //     window.location.href = link_antigo;
            //     sessionStorage.setItem('deslogado',"null")
            // }
    
    
        }
        setInterval(()=>{
            let user = sessionStorage.getItem('user');
            let nav = document.querySelector("#side-nav");
            let nav_user = nav.dataset.user;
            if(user != nav_user){
                window.location.reload()
            }

            
        },1000)
      
    </script>
    {% endblock %}

